body{
    box-sizing: border-box;
}
html,body{
    margin:0;
}
.heros{
height:100vh;
width: 100vw;;
}

@media screen and (orientation: landscape){
 .heros{height: 56.25%;}   
}
picture{
    width: 100%;
    height:100%;
    background: var(--blue-pale)
}

.btr{
width: 100%;
height: 100%;
    position: absolute;
    object-fit: contain;
}
.contraste{
width: 100%;
height: 106%;
background:linear-gradient(to bottom,rgba(0, 243, 20, 0),rgb(149, 216, 255));
top: 0;
overflow: hidden;
position: absolute;
    }
    
.container{
top: 60%;
position: absolute;

}
h1{
    font-size: 50px;
    font-weight: bold;
    font-family: var(--punch);
}
.btn{
    background-color: var(--blue-fonce) ;
    border-radius: 15px 15px 15px 15px;
    font-weight: bold;
    font-family: var(--regulier);
}

.navbar {
    background-color: var(--blue-pale);
    width: 100%;

}
.nav-link{
    font-weight: bold;
}
