

body{
    box-sizing: border-box;
}
html,body{
    margin:0;
}
.heros{
height:100vh;
width: 100vw;

}

@media screen and (orientation: landscape){
 .heros{height: 56.25vw;
         width: 100%;}   
}
picture{
    width: 100%;
    height:100%;
}

.btr{
width: 100%;
height: 100%;
    position: absolute;
    object-fit: contain;
}
.contraste{
width: 100%;
height: 106%;
background:linear-gradient(to bottom,rgba(0, 243, 20, 0),rgb(111, 222, 236));
top: 0;
    }
    
.heros .container-fluid{
    top: 60%;
    position: absolute;
    z-index: 3;
    top: 60%;

}
h1{
    font-size: 50px;
    font-weight: bold;
    font-family: var(--punch);
}
.heros .row{
    height: 100%;
}
.btn{
    background-color: var(--blue-fonce) ;
    border-radius: 15px 15px 15px 15px;
    font-weight: bold;
    font-family: var(--regulier);
}

.navbar {
    background:linear-gradient(var(--blue-pale), var(--rouge-pale));
    width: 100vw;
    opacity: 0.8;
}
.text-lg-start{
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
}

.nav-link{
    font-weight: bold;
}
.nav-link{
    font-weight: bold;
}
.logo{
    width: 10%;
}

 footer{
    background:linear-gradient(var(--rouge-pale), var(--blue-pale));
    padding: 20px;
    margin: 20px 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
} 

footer a {
    text-decoration: none;
    color: black;
  }
footer a:hover{
    color: var(--blue-fonce);
}
p{
    text-align: center;
}


main{
    margin-top: 60px;
    font-family:'Bebas Neue', cursive; ;
}

.animation{
    width: 100%;
}


.btn{
    scroll-behavior: smooth;
}


.img1{
    height: 300px;
    width: 300px;
    
}
.premieralbum{
    margin-top: 40px;
    background-color: var(--blue-pale);
    
    
    
    }

.deuxalbum{
    margin-top: 40px;
    background-color: var(--rouge-pale);
   
    
}

.troisalbum{
    margin-top: 40px;
    background-color: var(--rouge-pale2);
   
}