body{
    box-sizing: border-box;
}
.hero{
    min-width: 100%;
    height: 100vh;
    background-color: blue;
  }
  @media(orientation: landscape){
    .hero{
      width: 56.25%;
    }
  }
  .picture-hero{
     width: 100%;
     height: 100%;
  }