body{
    box-sizing: border-box;
}
.hero{
    width: 100vw;
    height: 100vh;
  }
  @media(orientation: landscape){
    .hero{
      width: 56.25%;
    }
  }
  .picture-hero{
    width: 100vw;
     height: 100vh;
  }