body{
    box-sizing: border-box;
}
.hero{
    width: 24%;
    height: 100vh;
  }
  @media(orientation: landscape){
    .hero{
      width: 56.25%;
    }
  }
  .picture-hero{
    width: 100vw;
     height: 100vh;
  }
  .img_btr_port{
    width: 100vw;
    height:100vh;
    object-fit: cover;
    object-position: 0% 15%;
  }