:root {
  --rouge: #d12c32;
  --rouge-pale2: #e86868;
  --rouge-pale: #a8343e;
  --rouge-fonce: #660020;
  --blue-pale: #a1d4ec;
  --blue-fonce: #00628f;
  --vert: #54d6ad;
  --noir: black;
  --blanc: white;
  --regulier: "Dosis", sans-serif;
  --punch: "Black Ops One", cursive;
}

body {
  font-family: var(--regulier);
  font-size: 20px;
}
.title-1 {
  font-family: var(--punch);
  font-size: 35px;
  color: var(--noir);
  font-stretch: ultra-condensed;
}
.title-2 {
  font-family: var(--punch);
  font-size: 30px;
  color: var(--rouge-fonce);
}
.title-2 {
  font-family: var(--punch);
  font-size: 25px;
  color: var(--blue-fonce);
}
