@font-face {
    font-family: ;
    src: url(font);
}
:root{
    --rouge-pale: #A8343E;
    --rouge-fonce: #660020;
    --blue-pale: #A1D4EC;
    --blue-fonce: #00628F;
    --vert:#54D6AD;
    --noir: black;
    --blanc: white;
    --regulier:'Dosis', sans-serif;
    --punch: 'edosz';
  }

